body {
  padding: 0;
  margin: 0;
  font-family: 'Forum';
  letter-spacing: 0.03em;
  color: #565051;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 40px 5% 40px 5%;
}

.logo {
  width: 64px;
}

.nav-bar {
  padding: 0;
}

.nav-bar li {
  display: inline-block;
}

.nav-bar a {
  color: #565051;
  padding: 10px;
  text-decoration: none;
  display: block;
  white-space: nowrap;
}

.nav-bar a:hover {
  background-color: #F2BFC4;
}

.record {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 40px 5% 40px 5%;
}